.dropCont {
    width: 100%;
    height: 70%;
    padding: 20px 10px 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.dropOff {
    cursor: pointer;
    width: 100%;
    height: 90%;
    border-radius: 15px;
    background-color: #dcd7f5af;
    box-shadow: #79458f80 0px 5px 10px;
}

.dropOn {
    cursor: pointer;
    width: 100%;
    height: 90%;
    border-radius: 15px;
    background-color: #DCD7F5;
    box-shadow: #79458f80 0px 5px 10px;
}

.inputCont{
    position: relative;
    height: 100%;
    width:100%;
}

input[type=file]::file-selector-button {
    display: none;
}

input#miArchivo {
    color: transparent;
}

.messageOn {
    position: absolute;
    width: 100%;
    height:100%;
}

.messageCont {
    position: absolute;
    width: 100%;
    height: 90%;
    padding: 0px 30px;
    display: flex;
    overflow-y: scroll;
    cursor: pointer;
    flex-direction: column;
    align-items: flex-start;
}

.messageCont::-webkit-scrollbar {
    display: none;
}

.uploadMessageText {
    margin: 20px 10px 10px;
    text-align: center;
    color: #79458F;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.uploadMessageFile {
    margin: 10px;
    text-align: center;
    color: #202020;
    font-size: 15px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;

}

.animationCont {
    width: 100%;
}

#untitled-s-g1 {
    cursor: pointer;
}

#untitled-s-g1:hover {
    opacity: 0.8;
    transition: all 1s;
}

.filesCont {
    height: 30%;
    overflow: hidden;
    overflow-y: scroll;
}

.filesCont::-webkit-scrollbar {
    display: none;
}

.drop-file-input__label {
    text-align: center;
    color: var(--txt-second-color);
    font-weight: 600;
    padding: 10px;
}

.drop-file-input__label img {
    width: 100px;
}

.drop-file-preview {
    padding: 0px 20px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.drop-file-preview p {
    font-size: 15px;
    margin: 0px;
}

.drop-file-preview__title {
    margin-bottom: 0px;
}

.drop-file-preview__item {
    position: relative;
    display: flex;
    padding: 15px;
    border-radius: 15px;
    background-color: #ffffff83;
    margin: 5px 5px 5px 10px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
}

.drop-file-preview__item img {
    width: 50px;
    margin-right: 20px;
}

.drop-file-preview__item__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.drop-file-preview__item__del {
    background-color: var(--box-bg);
    width: 30px;
    font-size: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: var(--box-shadow);
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
    margin-left: 10px;
}

.drop-file-preview__item:hover .drop-file-preview__item__del {
    opacity: 1;
}

.dropButton {
    margin: 10px 0px 20px;
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #79458fd5;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 15px;
}

.dropButton:hover {
    background-color: #007e97ab;
    transform: scale3d(1.10, 1.10, 1);
    transition: all 1s;
}

.logoSvg {
    padding-top: 5px;
}

.closed {
    display: none;
}

#toasterok {
    position: absolute;
    width: 35%;
    left: 65%;
}

#toasterfail {
    position: absolute;
    width: 35%;
    top: 10vh;
    left: 35%;
}